.ativo {
    padding: 60px;
    margin: 0px;
    background-color:  rgb(1, 31, 71);
    background-image: linear-gradient(rgb(1, 31, 71), black);
    border: 1px solid #e7e7e742;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 600px;
  }

  .titulo {
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 80px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

 .logo{
    height: 50px;
    width: 50px;
 }

 .estrutura{
    padding-top: 20px;
    height: 50px;
    
 }

/* Mobile and Tablet */
@media (max-width: 1023px) {  
   .ativo{
      width: 80vw;
   }
   .estrutura{
      height: 5vh;
   }
   .logo{
      height: 10vh;
      width: 10vw;
   }
}
  

  