.ativo {
    padding: 5%;
    margin-bottom: 20px;
    background-image: linear-gradient(rgb(1, 31, 71), black);
    border: 1px solid #e7e7e742;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: min(70vw,500px);
    align-items: center;
  }

  .titulo {
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 1vh;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: min(70vw,527px);
    font-size: min(4vw,15px);
  }

 .logo{
    height: 50px;
    width: 50px;
 }
 .lista{
   overflow-y: auto;
   height: 40vh;
   padding-right: 10px;
 }
.__className_ccafe3{
   font-size: min(3vw,20px);
 }
#quantidade{
   margin-left: auto;
   margin-right: 0;
}
#preco{
   margin: auto;
}
#nomeLista{
   margin-bottom:10px;
   width:60vw;
   text-align: center;
   font-size: min(4vw,25px);
}
#rendaFixa{
   background-image: linear-gradient(rgb(148, 3, 3), black);
}
#fundoImobiliario{
   background-image: linear-gradient(rgb(228, 206, 12), black);
}
#provento{
   background-image: linear-gradient(rgb(2, 83, 42), black);
}
#placeHolder{
   font-size: min(5vw,50px);
   text-align: center;
   margin: auto;
}
/* Mobile and Tablet */
@media (max-width: 1023px) {
}
  

  