*{
    overflow: hidden;
}

.login{
    margin:auto;
    height: 500px;
    width: 350px;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

form{
    width: 100%;
    max-width: 400px;
    text-align: center;
}

button{
    background: #0066A2;
    cursor: pointer;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 30px;
	width: 80px;
	font: 15px arial,sans-serif;
	text-shadow: none;
    border-radius: 20px;
}

.effect-background{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0%;
    left: 0%;
    z-index: -1;
    background-image: url(../../../public/6256878.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: background-animation 15s alternate infinite;
}

@keyframes background-animation {
    0%,
    100%{
        transform: scale(1);
    }

    40%,
    60%{
        transform: scale(1.07);
    }
}

