.input_{
    background-color: #0066A2;
    color: white;
}

#formulario2{
    color: white;
}

li{
    margin-bottom: 5px;
}
.dropdownAtivo{
    position: fixed;
    right: 15px;
    top: 60px
}

#novoAtivoButton{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 5px;
    background-image: linear-gradient(to left bottom,#0066A2, black);
    width: 100px;
    height: 40px;
    font-size: large;
}

.salvar{
    background: #0066A2;
    cursor: pointer;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 25px;
	width: 60px;
	font: 15px arial,sans-serif;
	text-shadow: none;
    border-radius: 20px;
    margin-top: 10px
}



/* Mobile and Tablet */
@media (max-width: 1023px) {  
    ul{
        padding-top: 1.3vh;
    }
    li{
        margin-bottom: 1.3vh;
    }
}