.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: max-content;
  width: 100vw;
  min-height: 100vh;
}
body{
    background-image: linear-gradient(rgb(1, 31, 71), black);
}
h1{
    color: white;
}